.sidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 20px;
}

.resetIcon{
  width: 23px;
  cursor: pointer;
  position: absolute;
  bottom: 60px;
}

.sidebar_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease; 
}

.sidebar_list_active {
  height: auto; 
}

.sidebar_list_item {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  list-style: none;
  background-color: #6c757d; 
}
